@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
}

img {
  display: block;
  width: 300.59px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.navbarnav {
  display: flex;
  position: fixed;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  color:#3d6600;
  width: 100%;
  border-bottom: 1px solid  #3d6600;
}

.logo {
  font-size: 2rem;
  margin: 0.5rem 5rem;
  font-weight: bold;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: #3d6600;
  padding: 2rem;
  display: block;
  text-transform: uppercase;
  margin-right: 3rem;
}

.navbar-links li a:hover {
  font-weight: 900;
  transform: scale(1.1);
  transition: 0.4;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color:#3d6600;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbarnav {
    flex-direction: column;
    align-items: flex-start;  
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .project-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

/*Welcome Section*/

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  background-color: rgb(243, 242, 242); 
}

.welcome-section h1 {
  color: #3d6600;
  margin-top: 100px;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 30px;
}

.welcome-section a {
  color: #3d6600;
  text-decoration: none;
  font-size: 16px;
  display: block;
  width: 150px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(243, 242, 242);
  border: 1px solid  #3d6600;
}

.welcome-section a:hover {
  color: white;
  background-color:  #3d6600;
  transition: 0.5s;
}

/*About Me section*/

.aboutMe{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  min-height: 60vh;
  padding: 50px 50px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .headImage {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-right: 0px;
  height: 250px;
  margin-left: 150px;
}

.container .info {
  width: 100%;
  display: flex;
  flex-direction: column;
}
 .list{
  font-size: 20px;
  padding: 5px 0px;
  color: #3d6600;
}

.contact-section {
  background-color: rgb(243, 242, 242);
}

.contact-title {
  text-align: center;
}

.contact-p {
  text-align: center;
}

.btn {
  padding: 20px;
  font-size: 1.5rem;
  color: #3d6600;
}

footer {
  text-align: center;
  height: 100px;
  width: 100%;
  margin-bottom: 0;
}

.copyright {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px
}

.fab {
  color: #3d6600;
}

.fas {
  color: #3d6600;
}

.copyright {
  color: #3d6600;
}

#bigDiv {
  background-color: rgb(243, 242, 242);
}

@media (max-width: 990px) {
  .contact {
    padding: 50px;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .container .headImage {
    margin: auto;
  }
}